<ion-view view-title="Songs">
  <ion-nav-bar class="bar-dark">
    <ion-nav-buttons side="right"><button class="button" ng-click="addNewSong()"><i class="ion-plus-round"></i></button></ion-nav-buttons> 
  </ion-nav-bar>

  <ion-content class="padding search">
<!--     <div class="container browse">
      <div class="buttonGroup browse">
            <div class="query" ng-click="readConnection()" ng-class="{'underline': isActiveOne}"><p>All</p></div>
            <div class="query disabled" ng-click="readConnection()" ng-class="{'underline': isActiveTwo}"><p>Owned</p></div>
            <div class="query disabled" ng-click="return;" ng-class="{'underline': isActiveThree}"><p>Offline</p></div>
      </div>
    </div>    --> 
    <ion-list ng-hide="offline">
      <ion-item class="wrapper" ng-repeat="song in songs" type="item-text-wrap" >
          <div class="listItem" style="overflow:hidden;">
            <div style="float:left; border: none;" ng-click="go({{songs.songId}})">
              <h2 ng-click="go({{song.songId}})" class="heading">{{song.songTitle}}</h2>
              <p ng-click="go({{song.songId}})" class="subheading"><span>{{song.songAlbumName}}</span> by <span>{{song.songArtist}}</span></p>
            </div>
            <i class="ion-android-add-circle" style="float:right; color: #1a1a1a;" ng-click="addToSetlist({{song.songId}})"></i>
            <i class="ion-ios-trash" style="float:right; color: #1a1a1a; margin-right: 5px;" ng-click="delete({{song.songId}})"></i>
          </div>     
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
