<ion-view view-title="Practice" cache-view="false">
  <ion-nav-bar class="bar-dark">
    <ion-nav-buttons side="left"><button class="button" ng-click="goSpotify()"><i class="ion-beer"></i></button></ion-nav-buttons>
    <!-- <ion-nav-buttons side="right"><button class="button" ng-click="editSetlist()"><i class="ion-edit"></i></button></ion-nav-buttons> -->
  </ion-nav-bar>
  <ion-content class="padding action">
      <ion-item class="item-icon-right" ng-repeat="song in songs" type="item-text-wrap">
          <h2 ng-click="go({{song.songId}})">{{song.songTitle}}</h2>
          <i class="icon ion-pin" ng-click="unpin({{song.songId}})"></i>
      </ion-item>
    </ion-list>    <p class="pinMsg" ng-show="!setlists.length">There are no pinned setlists.</p>
  </ion-content>
</ion-view>
