<ion-view view-title="Profile" cache-view="false">
  <ion-nav-bar class="bar-dark">
    
    <ion-nav-buttons side="right"><button class="button" ng-click="addNewSong()"><i class="ion-plus-round"></i></button></ion-nav-buttons>  
  </ion-nav-bar>

  <ion-content class="padding">
      <ion-item class="wrapper" ng-repeat="song in songs" type="item-text-wrap" >
          <div class="eighty item-avatar" ng-click="go({{song.songId}})">
            <img ng-src="{{song.songAlbum}}">
            <h2 ng-click="">{{song.songTitle}}</h2>
            <p ng-click="">{{song.songArtist}} | {{song.songAlbumName}}</p>
          </div>
          <div class="twenty item-icon-right">
            <i class="icon ion-trash-b" ng-click="delete({{song.songId}})"></i>
          </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
