<ion-view view-title="{{setlist.setlistName}}" cache-view="false">
    <ion-nav-bar class="bar-dark">
        <ion-nav-buttons side="left"><button class="button" ng-click="back()"><i class="ion-ios-arrow-back"></i></button></ion-nav-buttons>
        <ion-nav-buttons side="right"><button class="button" ng-click="editRoles()"><i class="ion-edit"></i></button></ion-nav-buttons>
    </ion-nav-bar>
      <ion-content class="padding">
            <div class="info band"> 
              <p class="header">Assigned Band Roles:</p>

              <div>
                  <label>Vocals 1: </label>
                  <p>{{setlist.setlistVocals1}}</p>
              </div>
              <div>
                  <label>Vocals 2: </label>
                  <p>{{setlist.setlistVocals2}}</p>
              </div>                  
              <div>
                  <label>Guitar 1: </label>
                  <p>{{setlist.setlistGuitar1}}</p>
              </div>
              <div>
                  <label>Guitar 2: </label>
                  <p>{{setlist.setlistGuitar2}}</p>
              </div>
              <div>
                  <label>Bass: </label>
                  <p>{{setlist.setlistBass}}</p>
              </div>
              <div>
                  <label>Keyboard: </label>
                  <p>{{setlist.setlistKeyboard}}</p>
              </div>
              <div>
                  <label>Drums: </label>
                  <p>{{setlist.setlistDrums}}</p>
              </div>                  
          </div>
      </ion-content>
</ion-view>
