<ion-view>
  <ion-nav-bar class="bar-dark"> 
    <ion-nav-title>
      Setlists
    </ion-nav-title>
    <ion-nav-buttons side="left"><button class="button" ng-click="toggleLeft()"><i class="ion-grid"></i></button></ion-nav-buttons>
  </ion-nav-bar>
    <ion-side-menus>
      <ion-side-menu-content class="webPadding"> 
        <div class="sortie">
          <form ng-submit="verify()"> 
            <label>Sort By:</label>
            <select class="orderBy" ng-model="model.sortie">
              <option value="title">Title</option>
              <option value="artist">Artist</option>
              <option value="album">Album</option>
              <option value="created">Created</option>
            </select>
            <button ng-click="verify()"><i class="ion-ios-play"></i></button>
          </form>
        </div>
        <ion-list class="webList">
          <ion-item class="webItemHeader">
            <p class="id">ID</p>
            <p class="title">Title</p>
            <p class="tracks">Tracks</p>
            <p class="artist setlists">View</p>
            <div class="crud">
              <button ng-click="addSetlist()">+  Add New Setlist</button>
            </div>
          </ion-item>
          <ion-item ng-repeat="setlist in setlists | orderBy:sortType:sortReverse" type="item-text-wrap" class="webItem">
              <uib-accordion>
                <uib-accordion-group class="accordionHeading">
                  <uib-accordion-heading>
                      <p class="id">{{setlist.setlistId}}</p>
                      <p class="title">{{setlist.setlistName}}</p>
                      <p class="tracks">{{setlist.setlistSongs.length}}</p>
                      <p class="artist setlists"><button ng-click="view({{setlist.setlistId}})" class="viewBtn">View</button></p>
                      <div class="crud">
                        <button ng-click="edit({{setlist.setlistId}})">Edit</button>
                        <button ng-click="delete({{setlist.setlistId}})">Delete</button>
                      </div>
                  </uib-accordion-heading>
                    <div class="webContents">
                      <div class="mainies setlists">
                        <p class="songTitle"><span>Name:</span><span>{{setlist.setlistName}}</span></p>
                        <p class="songArtist"><span>Notes:</span><span>{{setlist.setlistNotes}}</span></p>
                        <p class="songLink"><span>Spotify:</span><a href="{{setlist.setlistSpotify}}">Open Link</a></p>
                      </div>
                    </div>
                </uib-accordion-group>
              </uib-accordion>
          </ion-item>
        </ion-list>
      </ion-side-menu-content>
      <ion-side-menu side="left" width="200" class="sideMenuParent">
        <ion-header-bar class="bar-energetic webMenuHeader">
            <h1 class="title">Navigation</h1>
        </ion-header-bar>
        <ion-content class="webSideMenu">
          <a ng-click="goSongs()">
            <i class="ion-ios-musical-notes"></i>
            <p>Songs</p>
          </a>
          <a href="#" ng-click="goSetlists()" class="active">
            <i class="ion-ios-list-outline"></i>
            <p>Setlists</p>
          </a>
          <a href="" class="disabled">
            <i class="ion-ios-people"></i>
            <p>Members</p>
          </a>
        </ion-content>
      </ion-side-menu>
    </ion-side-menus>

</ion-view>

</body>