<ion-view view-title="Search" cache-view="false">
  <ion-nav-bar class="bar-dark">
    
  </ion-nav-bar>

  <ion-content class="padding search" overflow-scroll="true">
      <form name="form.search" ng-submit="">
        <input type="text" placeholder="Search Query" ng-model="model.query" required>
        <ion-scroll direction="x" class="buttonGroup" style="height: 40px; width: 400px; max-width: 450px;">
            <div style="height: 40px; width: 400px; max-width: 450px;">
              <button style="height: 40px; width: 80px;" ng-click="search('songTitle', 'songs')">Title</button>
              <button style="height: 40px; width: 80px;" ng-click="search('songArtist', 'songs')">Artist</button>
              <button style="height: 40px; width: 80px;" ng-click="search('songAlbumName', 'songs')">Album</button>
              <button style="height: 40px; width: 80px;" ng-click="search('setlistName', 'setlists')">Setlist</button>
              <button style="height: 40px; width: 80px;" ng-click="search('songTags', 'songs')">Tags</button>
            </div>
        </ion-scroll>
      </form>

      <ion-item class="wrapper" ng-repeat="song in songs" type="item-text-wrap" ng-hide="val">
          <div class="eighty item-avatar" ng-click="goSong({{song.songId}})">
            <img ng-src="{{song.songAlbum}}">
            <h2 ng-click="">{{song.songTitle}}</h2>
            <p ng-click="">{{song.songArtist}} | {{song.songAlbumName}}</p>
          </div>
          <div class="twenty item-icon-right">
            <i class="icon ion-trash-b" ng-click="delete({{song.songId}})"></i>
          </div>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="setlist in setlists" type="item-text-wrap" ng-click="goSetlist({{setlist.setlistId}})">
          <h2 ng-click="">{{setlist.setlistName}}</h2>
          <p ng-click="">{{setlist.setlistNotes}}</p>
          <i class="icon ion-android-more-horizontal"></i>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
